# ignore all .env files
*.env
# ignore todos
/Users/arjun/Documents/github/smart-agent/todos.txt
/Users/arjun/Documents/github/smart-agent/notebooks
/Users/arjun/Documents/github/smart-agent/utilities
/Users/arjun/Documents/github/smart-agent/llmnv